body {
    text-align: center;
    background-color: darkgray;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: skyblue;
    border-style: double;
    border-width: 10px;
}

table, tr, th, td {
    text-align: center;
}
